<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Payment_Checkout::payment" title="Payment" module="Payment_Checkout" sortOrder="100"
             resource="Payment_Checkout::system_config"/>
        <add id="Payment_Checkout::payment_checkout" title="Checkout Configuration" module="Payment_Checkout" sortOrder="100"
             parent="Payment_Checkout::payment" action="adminhtml/system_config/edit/section/payment" resource="Payment_Checkout::system_config"/>
    </menu>
</config>
